*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
}
h1 {
    color: Green;
    text-align: center;
}
.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 20px;
}
.nav ul{
    background: #7f8c8d;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #1abc9c;
}
.nav ul li:hover a{
    color: snow;
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #ecf0f1;
    text-decoration: none;

}
